@{
    ViewData["Title"] = "Error";
}

<link rel="stylesheet" href="~/StyleSheet.css" />
<link rel="stylesheet" href="~/bootstrap.min.css" />


<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
